body{
    background-color: #a2bcec;
    font-family: 'Share Tech Mono';
    font-size: 18px;
    
}

header{
    text-align: center
}

main{
    background-color: white;
    width: 50%;
    padding-top: 20px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 black;
}

main p{
    text-align: center;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    /* grid-row-gap: 10px; */
    /* grid-auto-rows: auto; */
    padding: 20px;
    
}

form>label{
    margin: 10px 0;
    text-align: right;
}
form>input{
    margin: 5px 0;
    width: 60%;
    border-radius: 2px;
    padding: 0 10px;
    font-family: inherit;
}
#dropdown{
    margin: auto 0 auto 0;
    width: 40%;
    height: 40px;
    padding: 0 10px;
    background-color: #dddddd;
    border-radius: 3px;

}
#dropdown option{
    background-color: white;
}

#group-1 label, #group-2 label{
    display: block;
    margin: 10px 0;
}

#group-3{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;

    justify-self: center;
}

#group-3 button{
    width: 200px;
    height: 40px;
    background: #00b7ff;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 2px;
    
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#message{
    margin-top: 10px;
    width: 70%;
}

@media screen and (max-width: 1700px) {

    form{
        grid-template-columns: auto auto;
    }

    #group-3{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 20px;
    
        justify-self: center;
    }
    #dropdown{
        margin: auto 0 auto 0;
        height: 40px;
        width: 80%;
    }
    #message{
        margin-top: 10px;
        width: 80%;
    }
}

@media screen and (max-width: 839px) {
    form{
        display: block;
    }
    form>label{
        display: block;
        text-align: left;
    }

    form>input{
        margin: 5px 0;
        padding: 5px;
    }

    #group-3{
        
        /* margin: 10px auto 0 auto; */
    
    }
}


